/*tipografia del body*/
body{
    font-family: 'Lato', sans-serif;
}

*globales*/
.contenedor{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/* Header */

.site-header.inicio{
    background: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
}

.barra{
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

/*navegacion*/

.navegacion a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin-right: 20px;
}

.navegacion a:last-of-type{
    margin-right: 0;
}

.navegacion a:hover{
    color: green;
}
