/*font family*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
    font-family: 'Times New Roman', Times, serif;
}

p {
    font-family: Gevena, Helvetica;
}